{% macro renderPager(pager, widgetInstanceId, search, max, orderedBy, order) %}
    {% if search is empty %}
        {{
        pagerfanta(
        pager,
        'twitter_bootstrap_translated',
        {
            'proximity' : 1,
            'routeName': 'simusante_userwidget_list',
            'routeParams': {
            'widgetInstance': widgetInstanceId,
            'max': max,
            'orderedBy': orderedBy,
            'order': order
        }
        }
        )
        }}
    {% else %}
        {{
        pagerfanta(
        pager,
        'twitter_bootstrap_translated',
        {
            'proximity' : 1,
            'routeName': 'simusante_userwidget_list',
            'routeParams': {
            'widgetInstance': widgetInstanceId,
            'search': search,
            'max': max,
            'orderedBy': orderedBy,
            'order': order
        }
        }
        )
        }}
    {% endif %}
{% endmacro %}

{% from _self import renderPager %}
{% from "ClarolineCoreBundle::macros.html.twig" import maxResultsSelectBox %}

{% if users|length > 0 %}

    <div class="panel-group" role="tablist">

        {% for user in users %}
            {% set userId = user.getId() %}
            {% set icon = user.getPicture() %}

            {% if icon is empty %}
                {% set iconPath = asset('bundles/simusanteuserwidget/images/no_icon.png') %}
            {% else %}
                {% set iconPath = asset('files/simusanteuserwidgetbundle/icons/' ~ icon) %}
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span data-toggle="collapse"
                              href="#user-content-{{ userId }}"
                              class="pointer-hand"
                                >
                            {{ user.getFirstName() }} {{ user.getLastName() }}
                        </span>
                    </h3>
                </div>
                <div id="user-content-{{ userId }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% include 'ClarolineCoreBundle:Profile:publicProfileGeneralTab.html.twig'
                        with {'user': user, 'publicProfilePreferences': publicProfilePreferences, 'links' : {} } %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% else %}
    <div class="alert alert-warning">
        {{ 'no_user'|trans({}, 'userwidget') }}
    </div>
{% endif %}

<div id="userwidget-datas-box"
     data-search="{{ search }}"
     data-max="{{ max }}"
     data-ordered-by="{{ orderedBy }}"
     data-order="{{ order }}"
     data-widget-instance-id="{{ widgetInstance.getId() }}"
        >
</div>